.inline {
    display: inline-block;
}

.calc {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 20%;
    background-color: #00d8ff;
    border: 2px solid #00d8ff;
    border-radius: 4px; 
    width: 450px;
}

.position_ops {
    position: relative;
    float: left;
}

.position_body {
    position: relative;
    float: right;
    width: 350px;
    padding-top: 10px;
}

.answer {

}
