
p {
    color: red;
}

#left_page {
    position: relative;
    float: left;
    width: 47%;
    background-color: #6cafe0;
    text-align: center;
    height: 400px;
    
}

#right_page {
    position: relative;
    float: right;
    width: 47%;
    background-color: #6cafff;   
    text-align: center;
    height: 400px;
}

#center {
    background-color: red;
    height: 400px;
}

h5.title {
    text-transform: uppercase;
    font-family: fantasy;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
}

img.hearts {
    max-height:50px;
    max-width:50px;
}

.birthday_text {
    padding: 10px;
    text-align: justify;
    font-family: fantasy;
    color: white;
    text-transform: capitalize
    
}


