
.container {
    background-color: #ede9e9;
    width: 100%;
    height: 100%;
    text-align: center;
    border-top: solid 5px red;
    padding-top: 30px;
    padding-bottom: 70%
}

#text {
    color: gray;
    text-transform: capitalize;
    font-size: 18px;   
}

input.input_box {
    width: 300px;
    
}

.duck {
    padding-bottom: 10px
}
